// @mixin phone {
//     @media only screen and (max-width:480px){
//         @content;
//     }
// }

#heading {
    color: white;
    // text-align: center;
    font-size: 2rem;
    font-family: "Rye";
    margin-top: .2em;
}

#logo {
    height: 8rem;
    margin-top: 1rem;
}

.nav-buttons {
    float: right;
    list-style: none
}

// .card-div {

//     .destination-card {
//         height: 100%;
//         width: 100%;
//         position: relative;
//     }
    
//     @include phone {
//         .destination-card {
//             height: 50%
//         }
//     }
// }

.destination-card {
    height: 100%;
    width: 100%, auto;
    position: relative;
}

.destination-text {
    position: relative;
    // top: 50%;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
    color: white;
    background: #C0B8C3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: .8;
}

#nav-header {
    height: 10rem;
    background-color: #157017;
}

#splash {
    width: 100%;
    height: 100%;
    background: src="/images/colorado-summer.jpg";
    opacity: .4;
}


// @media screen and (max-width:720px){
//     #nav-header {
//         height: 20rem;
//         background-color: #157017;
//     }
// }