@import "~bootstrap/scss/bootstrap";

// @mixin phone {
//     @media only screen and (max-width:480px){
//         @content;
//     }
// }

// .card-div {
//     .destination-card {
//         height: 100%;
//         width: 100%;
//         position: relative;
//     }
    
//     @include phone {
//         .destination-card {
//             height: 50%
//         }
//     }
// }

.input-area {
  border-radius: 5px;
  margin-top: 1rem;
  background: #eff6ee;
  width: 20rem;
}

.link-text {
  color: #de9e48;
}

.container-fluid {
  background-color: #372c2e;
  width: 100vw;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 0px;
}

#heading {
  color: #125e1f;
  text-align: center;
  font-size: 3rem;
  font-family: "Rye";
  margin-top: .2em;
}

#logo {
  float: left;
  height: 4rem;
  margin-top: .2rem;
  margin-left: 1rem;
}

.nav-buttons {
  float: right;
  list-style: none
}

#nav-header {
  height: 4.5rem;
  // background-color: #157017;
}

.checkboxes {
  list-style: none;
  height: 100vh;
}

.destination-card {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  margin: 0px;
  padding: 0px;
}

.not-destination{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
  margin: 0px;
  padding: 0px;
  // overflow-y: scroll;
}

.destination-text {
  position: absolute;
  // top: 50%;
  // margin-left: -5px;
  text-align: center;
  width: 100%;
  background: #C0B8C3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: .8;
  z-index: 1;
}

.destination-image {
  width: 100%;
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
}

// .col-x1-6 {
//   background: #9c6;
//   margin-bottom: 12px;
//   margin-top: 12px;
//   min-height: 200px;
// }

.half-left  img,
.half-right img {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.half-left h2,
.half-right h2 {
  top: 80%;
  z-index: 5;
}

.half-left, .half-right{
  padding: 0px;
  margin: 0px;
}

$color: #E78200;

.login-button {
  display: inline-block;
  padding: .3rem .8rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 1.2rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  float: right;
  &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
  }
  &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #000000;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
  }
  &:hover {
      color: #fff;
      &:before {
          width: 100%;
      }
  }
}


.reminder-item {
  color: #ffffff;
}

.reminder-item-text {
  color: #bcb8b1;
}

#reminder-list {
  list-style: none;
}

.delete-reminder {
  color: #ffffff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7em;
  background: #bcb8b1;
  padding: .25rem;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

  .delete-reminder:hover {
    color: #ffffff !important;
    background: #de9e48;
    border-color: #de9e48 !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
  }

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.scroll-button {
  color: #bcb8b1;
  // scroll-behavior: smooth;
  margin-left: 1rem;
}

#destination-links {
  position: fixed;
  z-index: 100;
}

