@import "~bootstrap/scss/bootstrap";

// @mixin phone {
//     @media only screen and (max-width:480px){
//         @content;
//     }
// }

// .card-div {
//     .destination-card {
//         height: 100%;
//         width: 100%;
//         position: relative;
//     }
    
//     @include phone {
//         .destination-card {
//             height: 50%
//         }
//     }
// }

.input-area {
  border-radius: 5px;
  margin-top: 1rem;
  background: #eff6ee;
  width: 20rem;
}

.link-text {
  color: #0000EE;
}

.container-fluid {
  background-color: #8a817c;
  width: 100vw;
  // margin-left: -15px;
  padding: 0px;
}

.container {
  // margin: -15px;
  max-width: 100%;
  padding: 0px;
}

#heading {
  color: #667761;
  float: right;
  // text-align: center;
  font-size: 2rem;
  font-family: "Rye";
  margin-top: .2em;
}

#logo {
  float: left;
  height: 4rem;
  margin-top: .2rem;
}

.nav-buttons {
  float: right;
  list-style: none
}

#nav-header {
  height: 4.5rem;
  // background-color: #157017;
}

.checkboxes {
  list-style: none;
  height: 100vh;
}

.destination-card {
  height: 100%;
  width: 100%;
  // margin-left: -15px;
  // margin-top: 15px;
  position: relative;
  z-index: 5;
  margin: 0px;
  padding: 0px;
}

.not-destination{
  height: 100%;
  width: 100%;
  // margin-left: -15px;
  // margin-top: 15px;
  position: relative;
  z-index: 4;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}

.destination-text {
  position: absolute;
  // top: 50%;
  // margin-left: -5px;
  text-align: center;
  width: 100%;
  color: white;
  background: #C0B8C3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: .8;
  z-index: 1;
}

.destination-image {
  width: 100%;
  // height: 10vh;
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
}

// .col-x1-6 {
//   background: #9c6;
//   margin-bottom: 12px;
//   margin-top: 12px;
//   min-height: 200px;
// }

.half-left  img,
.half-right img {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.half-left h2,
.half-right h2 {
  top: 70%;
  z-index: 5;
}

.half-left, .half-right{
  padding: 0px;
  margin: 0px;
}

#countdown {
  text-align: center;
}

// .reminder-item {
//   list-style-image: url("./images/destination-gear-logo.png")
// }

// #splash {
//   width: 100%;
//   height: 100%;
//   background: src="/images/colorado-summer.jpg";
//   opacity: .4;
// }

