@import "~bootstrap/scss/bootstrap";

// @mixin phone {
//     @media only screen and (max-width:480px){
//         @content;
//     }
// }

// .card-div {

//     .destination-card {
//         height: 100%;
//         width: 100%;
//         position: relative;
//     }
    
//     @include phone {
//         .destination-card {
//             height: 50%
//         }
//     }
// }

.container {
  // margin: -15px;
  max-width: 100%;

}

#heading {
  color: white;
  float: right;
  // text-align: center;
  font-size: 2rem;
  font-family: "Rye";
  margin-top: .2em;
}

#logo {
  float: left;
  height: 8rem;
  margin-top: 1rem;
}

.nav-buttons {
  float: right;
  list-style: none
}

.checkboxes {
  list-style: none;
}

.destination-card {
  height: 100%;
  width: 100%;
  margin-left: -15px;
  margin-top: 15px;
  position: relative;
}

.destination-text {
  position: relative;
  // top: 50%;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  color: white;
  background: #C0B8C3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: .8;
}

#nav-header {
  height: 10rem;
  background-color: #157017;
}

.destination-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.col-x1-6 {
  background: #9c6;
  margin-bottom: 12px;
  margin-top: 12px;
  min-height: 200px;
}
.half-left  img,
.half-right img {
  height: auto;
  width: 100%;
}

// #splash {
//   width: 100%;
//   height: 100%;
//   background: src="/images/colorado-summer.jpg";
//   opacity: .4;
// }

