// @mixin phone {
//     @media only screen and (max-width:480px){
//         @content;
//     }
// }

// .card-div {

//     .destination-card {
//         height: 100%;
//         width: 100%;
//         position: relative;
//     }
    
//     @include phone {
//         .destination-card {
//             height: 50%
//         }
//     }
// }

#heading {
    color: white;
    // text-align: center;
    font-size: 2rem;
    font-family: "Rye";
    margin-top: .2em;
}

#logo {
    height: 8rem;
    margin-top: 1rem;
}

.nav-buttons {
    float: right;
    list-style: none
}




// .destination-card {
//     // height: 100%;
//     // width: 100%;
//     // margin: 0;
//     position: relative;
// }

.destination-text {
    position: relative;
    // top: 50%;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
    color: white;
    background: #C0B8C3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: .8;
}

#nav-header {
    height: 10rem;
    background-color: #157017;
}

#splash {
    width: 100%;
    height: 100%;
    background: src="/images/colorado-summer.jpg";
    opacity: .4;
}


@mixin full-image($image-url) {
    @extend %full-width-content-with-image;
      background: url($image-url) no-repeat center center fixed;
      background-size: cover;
    &:after {
      background: url($image-url) no-repeat center center fixed;
      background-size: cover;
    }
    &:before {
      background: url($image-url) no-repeat center center fixed;  
      background-size: cover;
    }
  }
  
  %full-width-content-with-image {
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 999px;
    }
    &:after {
      right: 100%; 
    }
    &:before {
      left: 100%;
    }
  }
  
  body, html {
    overflow-x: hidden;
  }
  
  .site-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    background: grey;
  }
  
  .destination-card {
      z-index: 999999;
    @include full-image('http://www.commercekitchen.com/wp-content/uploads/2013/10/full-width-demo.jpg');
  }